<% required_status = required_status ||= false %>
<% pretend_required = pretend_required ||= false %>
<div id='bibliography_book_editors' class='repeatable-field'>
    <div class="row string optional bibliography-person-fields">
        <label class="col-sm-2 col-form-label string optional"><%= format_field_label(field_label, (required_status || pretend_required)) %></label>
        <div class="col-sm-10">
            <div class="fields">
                <%= form.simple_fields_for :book_editors do |peep| %>
                    <%= render 'bibliography_person_fields', 
                        form: peep,
                        class_name: 'book_editors',
                        prompt_label: 'Choose a ' + field_label,
                        required: required_status,
                        hint_text: hint_text ||= false
                    %>
                <% end %>
            </div>
            <div class="bibliography_book_editors_parent"></div>
        </div>
    </div>
    <div id="bibliography_book_editor_suggestions">
        <%= form.simple_fields_for :person_suggestions do |suggestion| %>
            <% if suggestion.object.field_name == 'book_editor' %>
                <%= render 'suggest_person_fields', :form => suggestion, fieldname: 'book_editor' %>
             <% end %>   
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association Bibliography::ADD_BUTTON + field_label, 
                form, 
                :book_editors, 
                class: 'btn btn-warning btn-add fa-icon', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#bibliography_book_editors .fields', 
                    'association-insertion-method' => 'append'
                },
                partial: 'bibliography_person_fields',
                render_options:  {
                    locals: { 
                        prompt_label: 'Choose a ' + field_label, 
                        class_name: 'book_editors',
                        required: required_status,
                        hint_text: hint_text ||= false
                    }
                }
            %>
            <%= link_to_add_association 'Suggest a new ' + field_label, 
                form, 
                :person_suggestions, 
                class: 'btn btn-warning btn-add', 
                form_name: 'form',
                data: {
                    'association-insertion-node' => '#bibliography_book_editor_suggestions', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'suggest_person_fields',
                render_options: {locals: {fieldname: 'book_editor'}}
            %>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    function generate_settings(){
        additional_settings = {
            dropdownParent: $(".bibliography_book_editors_parent")
        }
        settings = select2_config(".book_editors", "people");

        return $.extend(settings, additional_settings);
    }

    $('.book_editors').select2( generate_settings() );
    $("#bibliography_book_editors").on('cocoon:after-insert', function(e, insertedItem){
        $('.book_editors').last().select2( generate_settings() );
    });
});
</script>