<div id='bibliography_languages' class='repeatable-field'>
    <div class="fields">
        <%= form.simple_fields_for :bibliography_languages do |language| %>
            <%= language.association :language, 
                label: field_label,
                collection: Language.order(:name),
                prompt: 'Choose a Language',
                form_name: 'language',
                input_html: {class: 'languages'}
            %>
        <% end %>
    </div>
    <div id="bibliography_language_suggestions">
        <%= form.simple_fields_for :language_suggestions do |suggestion| %>
            <%= render 'suggest_fields', :form => suggestion, fieldname: 'language' %>
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association Bibliography::ADD_BUTTON + field_label, 
                form, 
                :bibliography_languages, 
                class: 'btn btn-warning btn-add fa-icon', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#bibliography_languages .fields', 
                    'association-insertion-method' => 'append'
                },
                partial: 'languages_fields'
            %>

            <%= link_to_add_association 'Suggest a new Language term', 
                form, 
                :language_suggestions, 
                class: 'btn btn-warning btn-add', 
                form_name: 'form',
                data: {
                    'association-insertion-node' => '#bibliography_language_suggestions', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'suggest_fields',
                render_options: {locals: {fieldname: 'language'}}
            %>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.languages').select2();
    $("#bibliography_languages").on('cocoon:after-insert', function(e, insertedItem){
        $('.languages').last().select2();
    });
});
</script>