<div id='bibliography_locations' class='repeatable-field'>
    <div class="fields">
        <%= form.simple_fields_for :bibliography_locations do |location| %>
            <%= location.association :location, 
                label: field_label,
                collection: Location.order(:sort_name), 
                prompt: 'Choose a ' + field_label, 
                form_name: 'location',
                input_html: {class: 'locations'}
            %>
        <% end %>
    </div>
    <div id="bibliography_location_suggestions">
        <%= form.simple_fields_for :location_suggestions do |suggestion| %>
            <%= render 'suggest_fields', :form => suggestion, fieldname: 'location' %>
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association 'Add ' + field_label, 
                form, 
                :bibliography_locations, 
                class: 'btn btn-warning btn-add', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#bibliography_locations .fields', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'bibliography_location_fields'
            %>

            <%= link_to_add_association 'Suggest a new Location term', 
                form, 
                :location_suggestions, 
                class: 'btn btn-warning btn-add', 
                form_name: 'form',
                data: {
                    'association-insertion-node' => '#bibliography_location_suggestions', 
                    'association-insertion-method' => 'after'
                }, 
                partial: 'suggest_fields',
                render_options: {locals: {fieldname: 'location'}}
            %>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.locations').select2();
    $("#bibliography_locations").on('cocoon:after-insert', function(e, insertedItem){
        $('.locations').last().select2();
    });
});
</script>