<div id='bibliography_periods' class='repeatable-field'>
    <div class="row string optional bibliography-entity-fields">
        <label class="col-sm-2 col-form-label string optional"><%= field_label.pluralize(2) %></label>
        <div class="col-sm-10">
            <div class="fields">
                <%= form.simple_fields_for :bibliography_periods do |period| %>
                    <%= render 'bibliography_period_fields', 
                        form: period,
                        class_name: 'periods',
                        prompt_label: 'Choose a ' + field_label 
                    %>
                <% end %>
            </div>
        </div>
    </div>
    <div id="bibliography_period_suggestions">
        <%= form.simple_fields_for :period_suggestions do |suggestion| %>
            <%= render 'suggest_fields', :form => suggestion, fieldname: 'century' %>
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association Bibliography::ADD_BUTTON + field_label, 
                form, 
                :bibliography_periods, 
                class: 'btn btn-warning btn-add fa-icon', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#bibliography_periods .fields', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'bibliography_period_fields',
                render_options:  {
                    locals: { 
                        prompt_label: 'Choose a ' + field_label, 
                        class_name: 'entities' 
                    }
                }
            %>

            <%= link_to_add_association 'Suggest a new Century term', 
                form, 
                :period_suggestions, 
                class: 'btn btn-warning btn-add', 
                form_name: 'form',
                data: {
                    'association-insertion-node' => '#bibliography_period_suggestions', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'suggest_fields',
                render_options: {locals: {fieldname: 'century'}}
            %>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.periods').select2();
    $("#bibliography_periods").on('cocoon:after-insert', function(e, insertedItem){
        $('.periods').last().select2();
    });
});
</script>