<div id="dashboard">
    <% if current_user.nil? %>
        <p>Sign in to access this portal.</p>
        <%= link_to new_user_session_path, class: 'login-button btn btn-primary' do %>Sign in<% end %>
        <%= link_to new_user_registration_path , class: 'login-button btn btn-primary' do %>Register<% end %>
    <% elsif can? :read, 'Dashboard' %>
        <h1>Dashboard</h1>

        <div class="contaniner">
            <p>You are signed in, <strong><%= current_user.email %></strong>!</p>
        </div>

        <div class="contaniner">
            <div class="">
                <p>Here are some actions for you:</p>
                <ul class="tasks">
                    <% if can? :create, Bibliography %>
                    <li><%= link_to 'Add new Citation', new_bibliography_path %></li>
                    <% end %>

                    <% if can? :read, Bibliography %>
                    <li><%= link_to 'Review all Citations', citations_all_path %></li>
                    <% end %>

                    <li><%= link_to 'View your submitted records', citations_mine_path %></li>

                    <% if can? :manage, 'Suggestions' %>
                    <li><%= link_to 'View pending term suggestions', citations_terms_suggestions_path %></li>
                    <% end %>
                    
                    <% if current_user.admin_role? %>
                    <li><%= link_to 'Update User accounts', rails_admin.index_path('user') %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% else %>
        <p>You do not have appropriate account permissions to visit this portal.</p>
        <%= link_to blacklight_path, class: 'login-button btn btn-info' do %>Go back<% end %>
    <% end %>
</div>