<% if @journal.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Journal Titles index', citationterms_journals_path, class: 'btn btn-info' %>
<% elsif can? :edit, Journal %>
    <h2 class="edit-label"><span class="header-label">Editing Journal Title:</span> <%= @journal.name.present? ? @journal.name : @journal.id %></h2>

    <%= render 'citationterms/update_alert', model_type: 'journal', record_id: @journal.id %>

    <%= render 'form', urlpath: citationterms_journal_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>