<% if @journal.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Journal Titles index', citationterms_journal_path %>
<% elsif can? :read, Journal %>
    <h2><%= @journal.name.present? ? @journal.name : @journal.id %></h2>

    <div class="record-view">
        <div class="button-group">
            <% if can? :update, Journal %>
            <%= link_to 'Edit this record', edit_citationterms_journal_path(@journal), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_journal_path(@journal), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Journal Title index', citationterms_journals_path, class: 'btn btn-info' %>
        </div>

        <div class="record-view-fields">
            <div class="journals-list col-sm-12">
                <h4>Fields</h4>

                <div class="field-pair row">
                    <label class="col-sm-2">Journal Title</label>
                    <div class="field-value col-sm-10"><%= @journal.name %></div>
                </div>

                <div class="field-pair row">
                    <label class="col-sm-2">Journal Sort Title</label>
                    <div class="field-value col-sm-10"><%= @journal.sort_name %></div>
                </div>

            </div>

            <%= render 'citationterms/metadata', record: @journal %>
        </div>

        <div class="button-group">
            <% if can? :update, Journal %>
            <%= link_to 'Edit this record', edit_citationterms_journal_path(@journal), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_journal_path(@journal), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Journal Title index', citationterms_journals_path, class: 'btn btn-info' %>
        </div>
    </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>