<h1>Jesuit Bibliography</h1>

<% if current_user.admin_role? || current_user.editor_role? %>
<h2>Entities listings</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Entity name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.display_name %></td>
        <td><%= link_to 'Show', entity_path(entity) %></td>
        <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity_path(entity),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<p><%= link_to 'Add New Entity', new_entity_path, class: 'btn btn-primary' %></p>
