<div id="dashboard-users">
    <% if current_user.nil? %>
        <p>Sign in to access this portal.</p>
        <%= link_to new_user_session_path, class: 'login-button btn btn-primary' do %>Sign in<% end %>
        <%= link_to new_user_registration_path , class: 'login-button btn btn-primary' do %>Register<% end %>
    <% elsif can? :read, 'ManageUsers' %>
        <h2>User Management</h2>
        <h3>Update Users' roles</h3>

        <div class="top-message">
            <p>Your account allows you to manage users with the following role types:<p>
            <ul class="list">
            <% @roles_current_user_can_manage.each do |role| %>
                <li><%= role_pretty_display(role) %></li>
            <% end %>
            </ul>
        </div>
        
        <div class="button-group">
            <%= link_to 'Go Back to Dashboard', dashboard_path, class: 'btn btn-info' %>
        </div>

        <div class="citations-list mine-list">
            <%= grid(@users_grid,
                show_filters: :when_filtered,
                allow_showing_all_records: false, 
                upper_pagination_panel: true
                ) do |user|

                user.column name: 'ID', attribute: 'id' do |u|
                    u.id
                end

                user.column name: 'Name', attribute: 'name' do |u|
                    u.name
                end

                user.column name: 'Email', attribute: 'email' do |u|
                    u.email
                end

                user.column name: 'Role', attribute: 'role'  do |u|
                    u.get_role_name
                end

                user.column name: 'Created At' do |u|
                    u.created_at
                end

                user.column do |u|
                    "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', manage_user_path(u) )}</span></div>".html_safe + 
                    "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_manage_user_path(u) )}</span></div>".html_safe
                end

            end -%>

        <div class="button-group">
            <%= link_to 'Go Back to Dashboard', dashboard_path, class: 'btn btn-info' %>
        </div>

    <% else %>
        <%= render 'bibliographies/not_permitted' %>
    <% end %>
</div>