<% if @user.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Dashboard', dashboard_path %>
<% elsif can? :read, 'ManageUsers' %>
    <h2><%= @user.email.present? ? @user.email : @user.id %></h2>
    <div class="record-view">
        <div class="button-group">
            <%= link_to 'Edit this record', edit_manage_user_path(@user), class: 'btn btn-primary' %>
            <%= link_to 'Go Back to Users list', manage_users_path, class: 'btn btn-info' %>
        </div>

        <hr/>
        
        <div class="field-pair row">
            <label class="col-sm-2">User ID</label>
            <div class="field-value col-sm-10"><%= @user.id %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">User email</label>
            <div class="field-value col-sm-10"><%= @user.email %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">User role</label>
            <div class="field-value col-sm-10"><%= @user.get_role_name %></div>
        </div>

        <hr/>

        <div class="button-group">
            <%= link_to 'Edit this record', edit_manage_user_path(@user), class: 'btn btn-primary' %>
            <%= link_to 'Go Back to Users list', manage_users_path, class: 'btn btn-info' %>
        </div>

    </div>
<% end %>