<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<%= link_to 'Jesuit Bibliography', dashboard_path, class: 'navbar-brand' %>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar col-sm-12 center-col">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><%= link_to 'Dashboard', dashboard_path %></li>
                    <li><%= link_to 'My Citations', citations_mine_path %></li>
                    <% end %>

                    <% if can? :manage, Bibliography %>
                    <li><%= link_to 'All Citations', citations_all_path %></li>
                    <% end %>

                    <% if can? :manage, 'Terms' %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Term lists <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if can? :read, Location %>
                            <li><%= link_to 'Locations', citationterms_locations_path %></li>
                            <% end %>

                            <% if can? :read, Period %>
                            <li><%= link_to 'Centuries', citationterms_periods_path %></li>
                            <% end %>

                            <% if can? :read, Subject %>
                            <li><%= link_to 'Subjects', citationterms_subjects_path %></li>
                            <% end %>

                            <% if can? :read, Entity %>
                            <li><%= link_to 'Jesuits', citationterms_entities_path %></li>
                            <% end %>

                            <% if can? :read, Language %>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to 'Languages', citationterms_languages_path %></li>
                            <% end %>

                            <% if can? :read, Journal %>
                            <li><%= link_to 'Journal Titles', citationterms_journals_path %></li>
                            <% end %>

                            <% if can? :read, Person %>
                            <li><%= link_to 'People', citationterms_people_path %></li>
                            <% end %>

                            <% if can? :manage, 'Suggestions' %>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to 'Pending Terms', citations_terms_suggestions_path %></li>
                            <% end %>
                        </ul>
                    </li>
                    <% end %>

                    <% if user_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if current_user.admin_role? %>
                                <li>
                                    <%= link_to rails_admin_path, target: :_blank do %>
                                        Admin Panel <i class="fas fa-sm fa-external-link-alt"></i>
                                    <% end %>
                                </li>
                                <li role="separator" class="divider"></li>
                            <% end %>
                            <li>
                            <%= link_to dashboard_path do %>
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            <% end %>
                            </li>
                            <li>
                            <%= link_to blacklight_path do %>
                                <i class="fas fa-home"></i> Public search
                            <% end %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to 'Logout', destroy_user_session_path %></li>
                        </ul>
                    </li>
                    <% end %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</div>