<%= simple_form_for @period, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>
  </div>
  
  <hr/>

  <% if @period.errors.any? %>
  <div class="panel panel-danger" id="error_explanation">
    <div class="panel-heading"><%= pluralize(@period.errors.count, "error") %> prohibited this century record from being saved:</div>
    <div class="panel-body">
      <ul>
        <% @period.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= form.input :name, 
      as: :string
  %>

  <%= form.input :sort_name, 
      as: :string,
      disabled: !@period.name.present?,
      placeholder: (!@period.name.present? ? BibliographyPeriod::NAME_PLACEHOLDER : '')
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>
  </div>
<% end %>