<% if @period.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Centuries index', citationterms_periods_path %>
<% elsif can? :read, Period %>
    <h1>Viewing Century: <%= @period.name.present? ? @period.name : @period.id %></h1>

    <div class="record-view">
        <% if can? :update, Period %>
        <%= link_to 'Edit this record', edit_citationterms_period_path(@period), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>

        <hr/>

        <div class="field-pair row">
            <label class="col-sm-2">Period Name</label>
            <div class="field-value col-sm-10"><%= @period.name %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Period Sort Name</label>
            <div class="field-value col-sm-10"><%= @period.sort_name %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Created At</label>
            <div class="field-value col-sm-10"><%= @period.created_at %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Updated At</label>
            <div class="field-value col-sm-10"><%= @period.updated_at %></div>
        </div>

        <hr/>

        <% if can? :update, Period %>
        <%= link_to 'Edit this record', edit_citationterms_period_path(@period), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>
    </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>