<% if @period.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Centuries index', citationterms_periods_path %>
<% elsif can? :read, Period %>
    <h2><%= @period.name.present? ? @period.name : @period.id %></h2>

    <div class="record-view">
        <div class="button-group">
            <% if can? :update, Period %>
            <%= link_to 'Edit this record', edit_citationterms_period_path(@period), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_period_path(@period), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>
        </div>

        <div class="record-view-fields">
            <div class="centuries-list col-sm-12">
                <h4>Fields</h4>

                <div class="field-pair row">
                    <label class="col-sm-2">Period Name</label>
                    <div class="field-value col-sm-10"><%= @period.name %></div>
                </div>

                <div class="field-pair row">
                    <label class="col-sm-2">Period Sort Name</label>
                    <div class="field-value col-sm-10"><%= @period.sort_name %></div>
                </div>
            </div>

            <%= render 'citationterms/metadata', record: @period %>
        </div>

        <div class="button-group">
            <% if can? :update, Period %>
            <%= link_to 'Edit this record', edit_citationterms_period_path(@period), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_period_path(@period), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Century terms index', citationterms_periods_path, class: 'btn btn-info' %>
        </div>
    </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>