<%= simple_form_for @person, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Cancel', citationterms_people_path, class: 'btn btn-info' %>
  </div>
  
  <hr/>

  <%= form.input :name, 
      as: :string,
      required: true,
      hint: Person::PERSON_FIELD_HINT
  %>

  <%= form.input :sort_name, 
      as: :string,
      disabled: !@person.name.present?,
      placeholder: (!@person.name.present? ? Person::NAME_PLACEHOLDER : '') 
  %>

  <%= form.input :surname, 
      as: :string
  %>

  <%= form.input :middlename, 
      as: :string
  %>

  <%= form.input :forename, 
      as: :string
  %>

  <%= form.input :title, 
      as: :string
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Cancel', citationterms_people_path, class: 'btn btn-info' %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('.simple_form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
        $('.bs-callout-info').toggleClass('hidden', !ok);
        $('.bs-callout-warning').toggleClass('hidden', ok);
    });
});
</script>