<%= simple_form_for @language, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true  do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Languages index', citationterms_languages_path, class: 'btn btn-info' %>
  </div>

  <hr/>

  <% if @language.errors.any? %>
  <div class="panel panel-danger" id="error_explanation">
    <div class="panel-heading"><%= pluralize(@language.errors.count, "error") %> prohibited this Language record from being saved:</div>
    <div class="panel-body">
      <ul>
        <% @language.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= form.input :name, 
      as: :string
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Jesuits index', citationterms_languages_path, class: 'btn btn-info' %>
  </div>
<% end %>