<% if @language.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Language Terms index', citationterms_language_path %>
<% elsif can? :read, Language %>
    <h2><%= @language.name.present? ? @language.name : @language.id %></h2>

    <div class="record-view">
        <div class="button-group">
            <% if can? :update, Language %>
            <%= link_to 'Edit this record', edit_citationterms_language_path(@language), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_language_path(@language), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Language index', citationterms_languages_path, class: 'btn btn-info' %>
        </div>

        <div class="record-view-fields">
            <div class="languages-list col-sm-12">
                <h4>Fields</h4>
                <div class="field-pair row">
                    <label class="col-sm-2">Language Name</label>
                    <div class="field-value col-sm-10"><%= @language.name %></div>
                </div>
            </div>

            <%= render 'citationterms/metadata', record: @language %>
        </div>

        <div class="button-group">
            <% if can? :update, Language %>
            <%= link_to 'Edit this record', edit_citationterms_language_path(@language), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_language_path(@language), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Language index', citationterms_languages_path, class: 'btn btn-info' %>
        </div>
    </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>