<%= simple_form_for @entity, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Cancel', citationterms_entities_path, class: 'btn btn-info' %>
  </div>

  <hr/>

  <%= form.input :name, 
      as: :string,
      required: true,
      hint: Bibliography::PERSON_FIELD_HINT
  %>

  <%= form.input :sort_name, 
      as: :string,
      disabled: !@entity.name.present?,
      placeholder: (!@entity.name.present? ? BibliographyEntity::NAME_PLACEHOLDER : '') 
  %>

  <%#= form.input :display_name, 
      as: :string,
      disabled: !@entity.name.present?,
      placeholder: (!@entity.name.present? ? BibliographyEntity::NAME_PLACEHOLDER : '')
  %>

  <%#= form.input :birth_date, 
      as: :string 
  %>

  <%#= form.input :death_date, 
      as: :string 
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Cencel', citationterms_entities_path, class: 'btn btn-info' %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('.simple_form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
        $('.bs-callout-info').toggleClass('hidden', !ok);
        $('.bs-callout-warning').toggleClass('hidden', ok);
    });
});
</script>