<%= simple_form_for @location, url: urlpath do |form| %>
  <%= form.button :submit, "Save record", class: "btn btn-primary" %>
  <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>

  <hr/>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@location.errors.count, "error") %> prohibited
        this location from being saved:
      </h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.input :name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :sort_name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <hr/>
  <%= form.button :submit, "Save record", class: "btn btn-primary" %>
  <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>
<% end %>