<%= simple_form_for @location, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true  do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>
  </div>
  
  <hr/>

  <% if @location.errors.any? %>
  <div class="panel panel-danger" id="error_explanation">
    <div class="panel-heading"><%= pluralize(@location.errors.count, "error") %> prohibited this location record from being saved:</div>
    <div class="panel-body">
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= form.input :name, 
      as: :string
  %>

  <%= form.input :sort_name, 
      as: :string,
      disabled: !@location.name.present?,
      placeholder: (!@location.name.present? ? BibliographyLocation::NAME_PLACEHOLDER : '') 
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>
  </div>
<% end %>