<% if @location.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Location Terms index', citationterms_location_path %>
<% elsif can? :read, Location %>
    <h2><%= @location.name.present? ? @location.name : @location.id %></h2>

    <div class="record-view">
        <div class="button-group">
            <% if can? :update, Location %>
            <%= link_to 'Edit this record', edit_citationterms_location_path(@location), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_location_path(@location), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>
        </div>
        
        <div class="record-view-fields">
            <div class="locations-list col-sm-12">
                <h4>Fields</h4>

                <div class="field-pair row">
                    <label class="col-sm-2">Location Name</label>
                    <div class="field-value col-sm-10"><%= @location.name %></div>
                </div>

                <div class="field-pair row">
                    <label class="col-sm-2">Location Sort Name</label>
                    <div class="field-value col-sm-10"><%= @location.sort_name %></div>
                </div>
            </div>

            <%= render 'citationterms/metadata', record: @location %>
        </div>

        <div class="button-group">
            <% if can? :update, Location %>
            <%= link_to 'Edit this record', edit_citationterms_location_path(@location), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'View citation references', references_citationterms_location_path(@location), class: 'btn btn-warning' %>
            <%= link_to 'Go Back to Location terms index', citationterms_locations_path, class: 'btn btn-info' %>
        </div>
    </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>