<script>
    $(document).ready(function(){
        var randomize_list = true;

        var collaborators_array = [
            {
                'name': 'Archivo España Compañía de Jesús',
                'img': '<%= asset_path 'archivo_espana_compania_de_jesus_250.png' %>',
                'href': 'https://jesuitas.es/es/archivo-historico',
                'alt': 'Archivo España Compañía de Jesús',
                'title': 'Archivo España Compañía de Jesús'
            },
            {
                'name': 'Archiv der Zentraleuropäischen Provinz der Jesuiten',
                'img': '<%= asset_path 'archiv_der_zentraleuropaischen_provinz_der_jesuiten_250.png' %>',
                'href': 'http://provinzarchiv.jesuiten.org/',
                'alt': 'Archiv der Zentraleuropäischen Provinz der Jesuiten',
                'title': 'Archiv der Zentraleuropäischen Provinz der Jesuiten'
            },
            {
                'name': 'Archive of the Jesuits in Canada',
                'img': '<%= asset_path 'archive_of_the_jesuits_in_canada_250.png' %>',
                'href': 'http://archivesjesuites.ca/en/',
                'alt': 'Archive of the Jesuits in Canada',
                'title': 'Archive of the Jesuits in Canada'
            },
            {
                'name': 'Archives Jésuites en France',
                'img': '<%= asset_path 'archives_jesuites_en_france_250.png' %>',
                'href': 'https://www.jesuites.com/contact/bureaux-archives-jesuites/',
                'alt': 'Archives Jésuites en France',
                'title': 'Archives Jésuites en France'
            },
            {
                'name': 'Archives of the Philippine Province',
                'img': '<%= asset_path 'archives_of_the_philippine_province_250.png' %>',
                'href': 'https://www.phjesuits.org/portal/the-jesuits/jesuit-archives/',
                'alt': 'Archives of the Philippine Province',
                'title': 'Archives of the Philippine Province'
            },
            {
                'name': 'Archives of the Society of Jesus, Australia',
                'img': '<%= asset_path 'archives_of_the_society_of_jesus_australia_250.png' %>',
                'href': '#',
                'alt': 'Archives of the Society of Jesus, Australia',
                'title': 'Archives of the Society of Jesus, Australia'
            },
            {
                'name': 'Archivio Storico, Provincia Euro-Mediterranea',
                'img': '<%= asset_path 'archivo_storico_250.png' %>',
                'href': 'https://archiviostorico.gesuiti.it/',
                'alt': 'Archivio Storico, Provincia Euro-Mediterranea',
                'title': 'Archivio Storico, Provincia Euro-Mediterranea'
            },
            {
                'name': 'Archivo de la Provincia de Chile',
                'img': '<%= asset_path 'archivo_de_la_provincia_de_chile_250.png' %>',
                'href': 'https://www.jesuitas.cl/la-compania-de-jesus/archivo-de-la-provincia/',
                'alt': 'Archivo de la Provincia de Chile',
                'title': 'Archivo de la Provincia de Chile'
            },
            {
                'name': 'Archivo de la Provincia del Perú',
                'img': '<%= asset_path 'archivo_de_la_provincia_del_peru_250.png' %>',
                'href': 'http://archivo.jesuitas.pe/',
                'alt': 'Archivo de la Provincia del Perú',
                'title': 'Archivo de la Provincia del Perú'
            },
            {
                'name': 'Brotéria - Cristianismo e Cultura',
                'img': '<%= asset_path 'broteria_christianismo_e_cultura_250.png' %>',
                'href': 'http://www.broteria.pt/',
                'alt': 'Brotéria - Cristianismo e Cultura',
                'title': 'Brotéria - Cristianismo e Cultura'
            },
            {
                'name': 'Burns Library, Boston College',
                'img': '<%= asset_path 'boston_college_libraries_250.png' %>',
                'href': 'https://libguides.bc.edu/burns/collections/jesuit',
                'alt': 'Burns Library, Boston College',
                'title': 'Burns Library, Boston College'
            },
            {
                'name': 'Center for Textual Studies and Digital Humanities, Loyola University Chicago',
                'img': '<%= asset_path 'center_for_textual_studies_and_digital_humanities_250.png' %>',
                'href': 'https://www.luc.edu/ctsdh/',
                'alt': 'Center for Textual Studies and Digital Humanities, Loyola University Chicago',
                'title': 'Center for Textual Studies and Digital Humanities, Loyola University Chicago'
            },
            {
                'name': 'Centre for Catholic Studies, Durham University',
                'img': '<%= asset_path 'centre_for_catholic_studies_250.png' %>',
                'href': 'https://www.dur.ac.uk/theology.religion/ccs/',
                'alt': 'Centre for Catholic Studies, Durham University',
                'title': 'Centre for Catholic Studies, Durham University'
            },
            {
                'name': 'Centre Sèvres',
                'img': '<%= asset_path 'centre_sevres_250.png' %>',
                'href': 'https://centresevres.com/en/',
                'alt': 'Centre Sèvres',
                'title': 'Centre Sèvres'
            },
            {
                'name': 'Conimbricenses',
                'img': '<%= asset_path 'conimbricenses_250.png' %>',
                'href': 'http://www.conimbricenses.org/',
                'alt': 'Conimbricenses',
                'title': 'Conimbricenses.org'
            },
            {
                'name': 'Cushwa Center, University of Notre Dame',
                'img': '<%= asset_path 'cushwa_center_250.png' %>',
                'href': 'https://cushwa.nd.edu/',
                'alt': 'Cushwa Center, University of Notre Dame',
                'title': 'Cushwa Center, University of Notre Dame'
            },
            {
                'name': 'European Jesuit Libraries Provenance Project',
                'img': '<%= asset_path 'european_jesuit_libraries_provenance_project_250.png' %>',
                'href': 'http://www.jesuit-libraries.com/',
                'alt': 'European Jesuit Libraries Provenance Project',
                'title': 'European Jesuit Libraries Provenance Project'
            },
            {
                'name': 'Irish Jesuit Archives',
                'img': '<%= asset_path 'irish_jesuit_archives_250.png' %>',
                'href': 'http://www.jesuitarchives.ie/',
                'alt': 'Irish Jesuit Archives',
                'title': 'Irish Jesuit Archives'
            },
            {
                'name': 'Jesuit Archives and Research Center',
                'img': '<%= asset_path 'jesuit_archives_and_research_center_250.png' %>',
                'href': 'http://jesuitarchives.org',
                'alt': 'Jesuit Archives and Research Center',
                'title': 'Jesuit Archives and Research Center'
            },
            {
                'name': 'Jesuit Centre for Catholic Studies, University of Manitoba',
                'img': '<%= asset_path 'jesuit_centre_for_catholic_studies_250.png' %>',
                'href': 'https://umanitoba.ca/colleges/st_pauls/jesuit_centre/index.html',
                'alt': 'Jesuit Centre for Catholic Studies, University of Manitoba',
                'title': 'Jesuit Centre for Catholic Studies, University of Manitoba'
            },
            {
                'name': 'Jesuit Historical Institute of Africa',
                'img': '<%= asset_path 'jesuit_historical_institute_of_africa_250.png' %>',
                'href': 'https://www.jhia.ac.ke/',
                'alt': 'Jesuit Historical Institute of Africa',
                'title': 'Jesuit Historical Institute of Africa'
            },
            {
                'name': 'KADOC-KU Leuven',
                'img': '<%= asset_path 'ku_leuven_kadoc_250.png' %>',
                'href': 'https://kadoc.kuleuven.be/',
                'alt': 'KADOC-KU Leuven',
                'title': 'KADOC-KU Leuven'
            },
            {
                'name': 'Seminar on Jesuit Spirituality',
                'img': '<%= asset_path 'seminar_on_jesuit_spirituality_250.png' %>',
                'href': 'https://jesuitonlinelibrary.bc.edu/?a=cl&cl=CL1&sp=sis&e=-------en-20--1--txt-txIN-------',
                'alt': 'Seminar on Jesuit Spirituality',
                'title': 'Seminar on Jesuit Spirituality'
            },
            {
                'name': 'Société des Bollandistes',
                'img': '<%= asset_path 'societe_des_bollandistes_250.png' %>',
                'href': 'https://www.bollandistes.org/',
                'alt': 'Société des Bollandistes',
                'title': 'Société des Bollandistes'
            },
            {
                'name': 'Société internationale d\'études jésuites',
                'img': '<%= asset_path 'societe_internationale_d_etudes_jesuits_250.png' %>',
                'href': 'http://www.siejesuitas.org/',
                'alt': 'Société internationale d\'études jésuites',
                'title': 'Société internationale d\'études jésuites'
            },
            {
                'name': 'Special Collections, Loyola University Chicago',
                'img': '<%= asset_path 'special_collections_loyola_university_chicago_250.png' %>',
                'href': 'https://www.luc.edu/archives/',
                'alt': 'Special Collections, Loyola University Chicago',
                'title': 'Special Collections, Loyola University Chicago'
            },
            {
                'name': 'Special Collections, Saint Louis University',
                'img': '<%= asset_path 'special_collections_saint_louis_university_250.png' %>',
                'href': 'http://lib.slu.edu/special-collections/index.php',
                'alt': 'Special Collections, Saint Louis University',
                'title': 'Special Collections, Saint Louis University'
            },
            {
                'name': 'Woodstock Theological Library',
                'img': '<%= asset_path 'woodstock_theological_library_250.png' %>',
                'href': 'https://www.library.georgetown.edu/woodstock',
                'alt': 'Woodstock Theological Library',
                'title': 'Woodstock Theological Library'
            },
            {
                'name': 'Xavier Centre of Historical Research, Goa',
                'img': '<%= asset_path 'xavier_centre_of_hostorical_research_goa_250.png' %>',
                'href': 'https://www.facebook.com/xchr.goa/',
                'alt': 'Xavier Centre of Historical Research, Goa',
                'title': 'Xavier Centre of Historical Research, Goa'
            },
        ];

        // shuffle array of objects
        // https://stackoverflow.com/a/12646864
        function shuffle_array(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        // validate params
        function validate_params(obj_array, obj_promise) {
            // check if obj_promise is a valid promise object
            if (obj_promise !== null && typeof obj_promise === 'object' && typeof obj_promise.then === 'function') {
                console.log("This is a promise object");
            } else {
                handle_error("This is not a valid promise object", $.Deferred());
                return false;
            }

            // check if obj_array is a valid array
            if (!($.isArray(obj_array)) || obj_array.length === 0 ) {
                handle_error("This is not a valid array of collabrators", obj_promise);
                return false;
            }

            return true;
        }

        // add indicator elements to carousel widget
        function add_indicators(collabs, prom){
            // validate params
            if (!validate_params(collabs, prom)){
                return;
            }

            var array_len = collabs.length;
            var new_len = array_len - 3;
            var data_num = 1;

            // add a slide indicator item for every three collaborators
            do {
                $("ol.carousel-indicators").append('<li data-target="#collaborators-carousel" data-slide-to="' + data_num + '"></li>');
                data_num += 1;
                new_len -= 3;
            } while (new_len > 0);

            // adding final slide indicator for final appended slide
            $("ol.carousel-indicators").append('<li data-target="#collaborators-carousel" data-slide-to="' + data_num + '"></li>');

            // resolve deferred object 
            prom.resolve();
        }

        // add slides to carousel widget
        function add_slides(collabs, prom){
            // validate params
            if (!validate_params(collabs, prom)){
                return;
            }

            // randomize list of collabs if required
            if (typeof randomize_list !== 'undefined' && randomize_list) {
                shuffle_array(collaborators_array);
            }

            var $carousel_inner = $("#collaborators-carousel .carousel-inner");
            var collab_len = collabs.length;
            var slide_iter = 1;
            var slide_el = "";
            do {
                // take the first object in the array
                var slide = collabs.shift();

                // wrap opening element in div for every 3 slides
                if (slide_iter % 3 === 1) {
                    slide_el += "<div class='item featured-record'>"
                }
                
                // build the slide
                slide_el += "<a href='" + get_key("href", slide, "#") + "'><img src='" + get_key("img", slide, "placeholder_logo_250.png") + "' alt='" + get_key("alt", slide, "logo") + "' title='" + get_key("title", slide, "collaborator") + "' width='200' /></a>";

                // wrap closing element in div for every 3 slides
                if (slide_iter % 3 === 0 || collab_len === 1) {
                    slide_el += "</div>";
                    $carousel_inner.append(slide_el);
                    slide_el = "";
                }

                slide_iter += 1;
                collab_len -= 1;
            } while (collab_len > 0);

            // add last "see all collaborators" slide
            append_last_slide($carousel_inner);

            // resolve deferred object 
            prom.resolve();
        }

        // get key from object, return default_val if key not found
        function get_key(key, obj, default_val) {
            if (obj.hasOwnProperty(key)) {
                return obj[key];
            } else {
                return default_val;
            }
        }

        // add last slide to carousel widget
        function append_last_slide(elem){
            // check that elem exists
            var slide_el = "<div class='item featured-record'><a href='/about/partners' class='featured-record-more-link'>See more of our partners</a></div>";
            elem.append(slide_el);
        }

        // handle errors from carousel setup
        function handle_error(msg, prom){
            prom.reject();
            console.log("Caught error: " + msg);
            $("#collaborators-carousel").hide();
            $("#collaborators-error-message").show();
            append_last_slide($("#collaborators-error-message"));
        }


        //
        // create the carousel
        //

        // begin with creating the indicator elements
        var creating_indicators = new $.Deferred();
        add_indicators(collaborators_array, creating_indicators);

        // next, create slide elements
        var creating_slides = new $.Deferred();
        creating_indicators.done(function(){
            add_slides(collaborators_array, creating_slides);
        });

        // last, instantiate carousel widget
        creating_slides.done(function() {
            $('#collaborators-carousel .carousel-inner .item').first().addClass('active');
            $('#collaborators-carousel').carousel({
                interval: 15000
            });
        });

        // handle creating_indicators promise failing
        creating_indicators.fail(function(){
            console.log("creating_indicators failed.");
        });

        // handle creating_slides promise failing
        creating_slides.fail(function(){
            console.log("creating_slides failed.");
        });
    });
</script>

<div id="collaborators-error-message" style="display:none;"></div>
<div id="collaborators-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators. Disabled in CSS for carousel widget -->
    <ol class="carousel-indicators">
      <li data-target="#collaborators-carousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox"></div>

    <a class="left carousel-control" href="#collaborators-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#collaborators-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>