<div class="page-header row">
</div>

<div class="button-container"><p><button class="record-button"><a href="#">Add Your Records</a></button></div>

<div class="home-text">
  <p>The Jesuit Online Bibliography is a free, collaborative, multilingual, and fully searchable database of bibliographic records for the field of Jesuit Studies produced in the 21st century.</p>
  <p>In the <a href="none">bibliographic tradition</a> of the Society of Jesus, this database provides the records, abstracts, subject categories, and direct links to books, book chapters, journal articles and book reviews related to the study of Jesuit history, spirituality, educational heritage, and pedagogy.</p> 
  <p>The editorial staff for the Jesuit Online Bibliography is a collaborative effort between Jesuit institutions -- <a href="none">Archivum Romanum Societatis Iesu</a>, the <a href="none">Jesuitica Project at KU/Leuven</a>, and the <a href="none">Institute for Advanced Jesuit Studies</a> at Boston College.</p> 
  <p>A network of voluntary correspondents and individual scholars and publishers contribute to the Jesuit Online Bibliography, which consists of more than 13,000 records in nearly 50 languages.</p>
  <p>With the support of the project's <a href="none">collaborating institutions</a>, this resource is available in Open Access. Users also have the option to create a free account to save searches and to bookmark results.</p>
  <p>The bibliographic records are aggregated within the search capabilities of the <a href="none">Portal to Jesuit Studies</a>.</p>
  <p id="learn-more"> <a href="none">Learn More</a></p>
</div>

<div class="home-collaborators">
  <h3 class="home-heading">Visit the Collaborative Partners</h3>
  <ul class="collaborators-static">
    <li><%= image_tag('Archivumlogo.png', width:150, alt:'Archivum Romanum Societatus vliesu')%></li>
    <li><%= image_tag('Jesuitlogo.png', width:150, alt:'Institue for Advanced Jesuit Studies')%></li>
    <li><%= image_tag('Jesuitica.png', width:150, alt:'Ku Leuven')%></li>
  </ul>
  <div class="inner-collaborators">
    <ul class="collaborator-links">
      <li><%= image_tag('JHIA.png', width:150, alt:'JHIA')%></li>
      <li><%= image_tag('XCHR.png', width:150, alt:'XCHR')%></li>
      <li><%= image_tag('Broteria.png', width:150, alt:'Broteria')%></li>
    </ul>
  </div>
</div>

<script>
  $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>