<%# homepage banner message %>

<%= render :partial=>'home_banner' %>

<div class="button-container col-100"><p><a class="button" href="about/add-record">Add Your Records</a></p></div>

<div class="home-text">
  <p>The Jesuit Online Bibliography is a free, collaborative, multilingual, and fully searchable database of bibliographic records for scholarship in Jesuit Studies produced in the 21st century. This project provides the citations, abstracts, subject categories, and direct links for books, book chapters, journal articles, book reviews, dissertations, conference papers, and other scholarly works related to the study of Jesuits and the Society of Jesus.</p>
  <p>The editorial oversight of the Jesuit Online Bibliography is a collaborative effort between Jesuit institutions -- the <a href="http://www.sjweb.info/arsi/">Archivum Romanum Societatis Iesu</a>, the <a href="https://www.jesuitica.be/homepage/">Jesuitica Project at KU Leuven</a>, and the <a href="https://www.bc.edu/centers/iajs/">Institute for Advanced Jesuit Studies</a> at Boston College.<a href="/about/network"> Voluntary contributors</a> regularly submit records, and individual scholars, publishers, and librarians are encouraged to contribute as well. Thanks to the project's <a href="/about/partners">institutional partners</a>, this resource is available in Open Access. Users also have the option to create a free account to save searches and to bookmark results.</p>
  <p>All the records of the Jesuit Online Bibliography are aggregated within the search capabilities of the <a href="https://jesuitportal.bc.edu/">Portal to Jesuit Studies</a>.</p>
  <p id="learn-more"> <a href="/about">Learn More</a></p>
</div>

<div class="home-collaborators">
  <h3 class="home-heading">Visit the Institutional Partners</h3>
  <ul class="collaborators-static">
    <li><a href="http://www.sjweb.info/arsi/en/archivum-romanum-societatis-iesu/"><%= image_tag('archivum_romanum_societatis_iesu_250.png', height:250, alt:'Archivum Romanum Societatus Iesu')%></a></li>
    <li><a href="https://www.bc.edu/centers/iajs/"><%= image_tag('institute_for_advanced_jesuit_studies_250.png', height:250, alt:'Institue for Advanced Jesuit Studies')%></a></li>
    <li><a href="https://www.jesuitica.be/homepage/"><%= image_tag('ku_leuven_250.png', height:250, alt:'Ku Leuven')%></a></li>
  </ul>

  <%= render 'collaborators' %>
</div>

<h3 class="featured-heading">Featured Records</h3>
<%= render 'featured_records', :featured_records => get_featured_records %>