<div class="button-container"><p><a class="button" href="about/add-record">Add Your Records</a></div>

<div class="home-text">
  <p>The Jesuit Online Bibliography is a free, collaborative, multilingual, and fully searchable database of bibliographic records of Jesuit Studies scholarship produced in the 21st century. This project provides the citations, abstracts, subject categories, and direct links to books, book chapters, journal articles, book reviews, and other works related to the study of Jesuit history, spirituality, educational heritage, and pedagogy.</p>
  <p>The editorial oversight of the Jesuit Online Bibliography is a collaborative effort by Jesuit institutions -- the <a href="http://www.sjweb.info/arsi/">Archivum Romanum Societatis Iesu</a>, the <a href="https://www.jesuitica.be/homepage/">Jesuitica Project at KU/Leuven</a>, and the <a href="https://www.bc.edu/centers/iajs/">Institute for Advanced Jesuit Studies</a> at Boston College. Additional contributions are made by <a href="/about/network">voluntary correspondents</a> and individual scholars and publishers. Thanks to the project's <a href="/about/partners">institutional partners</a>, this resource is available in Open Access. Users also have the option to create a free account to save searches and to bookmark results.</p>
  <p>All the records of the Jesuit Online Bibliography are aggregated within the search capabilities of the <a href="https://jesuitportal.bc.edu/">Portal to Jesuit Studies</a>.</p>
  <p id="learn-more"> <a href="/about">Learn More</a></p>
</div>

<div class="home-collaborators">
  <h3 class="home-heading">Visit the Institutional Partners</h3>
  <ul class="collaborators-static">
    <li><a href="http://www.sjweb.info/arsi/en/archivum-romanum-societatis-iesu/"><%= image_tag('ARSI.png', height:200, alt:'Archivum Romanum Societatus Iesu')%></a></li>
    <li><a href="https://www.bc.edu/centers/iajs/"><%= image_tag('newIAJS.png', height:200, alt:'Institue for Advanced Jesuit Studies')%></a></li>
    <li><a href="https://www.jesuitica.be/homepage/"><%= image_tag('jesuiticanew.png', height:200, alt:'Ku Leuven')%></a></li>
  </ul>

  <div id="collaborators-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators. Disabled in CSS for featured records -->
  <!-- Set data-target attribute to the carousel id. -->
  <ol class="carousel-indicators">
    <li data-target="#collaborators-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#collaborators-carousel" data-slide-to="1"></li>
    <li data-target="#collaborators-carousel" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">


      <!-- Each slide is an .item. The first slide should also have
      the .active class. -->
      <div class="item active featured-record">
        <a href="https://www.jhia.ac.ke/"><%= image_tag('JHIA.png', width:100, alt:'JHIA')%></a><a href="https://www.facebook.com/xchr.goa/"><%= image_tag('XCHR.png', width:100, alt:'XCHR')%></a><a href="http://www.broteria.pt/"><%= image_tag('Broteria.png', width:100, alt:'Broteria')%></a>
      </div>
      <div class="item featured-record">
        <p><a href="#">OTHER COLLABORATOR</a><a href="#">OTHER COLLABORATOR</a><a href="#">OTHER COLLABORATOR</a><p>
      </div>
      <div class="item featured-record">
        <a href="#">OTHER COLLABORATOR</a><a href="#">OTHER COLLABORATOR</a><a href="#">OTHER COLLABORATOR</a>
      </div>
      <div class="item featured-record">
        <a href="/about/partners">Click here for more partners and to learn more</a>
      </div>
  </div>

  <a class="left carousel-control" href="#collaborators-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#collaborators-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

</div>

<%= render 'featured_records', :featured_records => get_featured_records %>

<script>

 $('#featured-records-carousel').carousel({
        interval: 10000
    })

jQuery(document).ready(function ($) {

    setInterval(function () {
        moveRight();
    }, 7000);
  
	var slideCount = $('#slider ul li').length;
	var slideWidth = $('#slider ul li').width();
	var slideHeight = $('#slider ul li').height();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider').css({ width: slideWidth, height: slideHeight });
	
	$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider ul li:last-child').prependTo('#slider ul');

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    $('#slider a.control_prev').click(function () {
        moveLeft(); return false
    });

    $('#slider a.control_next').click(function () {
        moveRight(); return false
    });

});  

 $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>