<%= simple_form_for @record, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true  do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Featured records index', featuredrecords_path, class: 'btn btn-info' %>
  </div>

  <hr/>

  <% if @record.errors.any? %>
  <div class="panel panel-danger" id="error_explanation">
    <div class="panel-heading"><%= pluralize(@record.errors.count, "error") %> prohibited this page from being saved:</div>
    <div class="panel-body">
      <ul>
        <% @record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= form.input :published,
      label: 'Make published?',
      as: :boolean
  %>

  <%= form.input :name, 
      as: :string,
      hint: 'Give a name for this featured record. This is used for internal management'
  %>

  <%= form.input :rank, 
      as: :string,
      hint: 'How this record will be sorted in the Featured Record box. For example, a rank of 100 will appear earlier on a list than a rank of 10'
  %>

  <%#= form.input :bibliography_id,
      label: 'Related record ID',
      as: :integer,
      hint: 'Add in the ID of the record you\'d like to connect with'
  %>

  <div class="row string optional referenced-citation-record">
    <label class="col-sm-2 col-form-label string optional">Referenced Citation record</label>
    <div class="col-sm-10">
        <div class="">
            <%= form.association :bibliography, 
              label: false,
              # make sure that we pull the display_title field as the collection label
              label_method: Proc.new { |b| b.display_title if b.present? },
              collection: [@bib],
              #prompt: 'Select a Citation record to reference',
              hint: 'Search for the Citation record you want to link to this Featured Record',
              input_html: {
                  class: 'bibliographies',
                  "data-url": citationterms_search_path
              }
            %>
        </div>
        <div class="referenced_citation_record_parent"></div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
      function generate_settings(){
          additional_settings = {
              dropdownParent: $(".referenced_citation_record_parent")
          }
          settings = select2_config(".bibliographies", "bibliographies");

          return $.extend(settings, additional_settings);
      }
      $('.bibliographies').select2( generate_settings() );
  });
  </script>

  <div class="form-group row string optional featuredrecord_body form-group-valid">
    <label class="col-sm-2 col-form-label select">Body</label>
    <div class="col-sm-10">
        <%= form.text_area :body, 
            label: 'body', 
            class: "tinymce",
            rows: 20
            # has id: 'featuredrecord_body'
        %>
        <%= tinymce :pages, selector: "#featuredrecord_body" %>
    </div>
  </div>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Static Pages index', staticpages_path, class: 'btn btn-info' %>
  </div>
<% end %>