<h1>Listing all Subjects</h1>
 
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Reference Type</th>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |sub| %>
      <tr>
        <td><%= sub.term_type %></td>
        <td><%= sub.name %></td>
        <td><%= link_to 'Show', subject_path(sub) %></td>
        <td><%= link_to 'Edit', edit_subject_path(sub) %></td>
        <td><%= link_to 'Destroy', subject_path(sub),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Add New Subject', new_subject_path %></p>