<% if @subject.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Subject index', subjects_path %>
<% else %>
    <h1>Subject #<%= @subject.id %></h1>

    <div class="record-view">
        <%= link_to 'Edit this record', edit_subject_path(@subject), class: 'btn btn-primary' %>
        <%= link_to 'Go Back to Subject index', subjects_path, class: 'btn btn-info' %>

        <hr />

        <div class="field-pair row">
            <label class="col-sm-2">Subject name</label>
            <div class="field-value col-sm-10"><%= @subject.name %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Subject Sort Name</label>
            <div class="field-value col-sm-10"><%= @subject.sort_name %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Created At</label>
            <div class="field-value col-sm-10"><%= @subject.created_at %></div>
        </div>

        <div class="field-pair row">
            <label class="col-sm-2">Updated At</label>
            <div class="field-value col-sm-10"><%= @subject.updated_at %></div>
        </div>

        <hr />

        <%= link_to 'Edit this record', edit_subject_path(@subject), class: 'btn btn-primary' %>
        <%= link_to 'Go Back to Subject index', subjects_path, class: 'btn btn-info' %>
    </div>
<% end %>