<%= simple_form_for @bib do |form| %>

  <% if @bib.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bib.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @bib.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :reference_type, priority: [ "book" ], collection: ['book', 'book chapter', 'book review', 'journal article', 'dissertation', 'conference paper','multimedia'], input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  
  <%= form.input :year_published, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :title, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :title_secondary, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :place_published, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :publisher, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :volume, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :number_of_volumes, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :pages, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :section, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :title_tertiary, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :edition, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :date, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :type_of_work, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :reprint_edition, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :abstract, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :title_translated, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :language, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :isbn, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :issn, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :doi, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <h4>Subjects</h4>
  <div id='bibliography_subjects'>
    <%= form.simple_fields_for :bibliography_subjects do |subject| %>
      <%= render 'bibliography_subject_fields', :form => subject %>
    <% end %>
  </div>
  <div class='links'>
    <%= link_to_add_association 'add subject', form, :bibliography_subjects, class: 'row', form_name: 'form', data: {'association-insertion-node' => '#bibliography_subjects', 'association-insertion-method' => 'append'} %>
  </div>

  <h4>Periods</h4>
  <div id='bibliography_periods'>
    <%= form.simple_fields_for :bibliography_periods do |period| %>
      <%= render 'bibliography_period_fields', :form => period %>
    <% end %>
  </div>
  <div class='links'>
    <%= link_to_add_association 'add period', form, :bibliography_periods, class: 'row', form_name: 'form', data: {'association-insertion-node' => '#bibliography_periods', 'association-insertion-method' => 'append'} %>
  </div>

  <h4>Comments</h4>
  <div id="bibliography_comments">
    <ol id="bibliography_comments_ol">
    <%= form.simple_fields_for :comments do |comment| %>
      <%= render 'comment_fields', :form => comment %></li>
    <% end %>
    </ol>
  </div>
  <div class='links'>
    <%= link_to_add_association 'add comment', form, :comments, class: 'row', form_name: 'form', data: {'association-insertion-node' => '#bibliography_comments_ol', 'association-insertion-method' => 'append'} %>
  </div>

  <br/>
  <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
<% end %>