<div class="panel panel-default bibliography-reviewed_components-fields nested-fields">
    <div class="panel-heading"><%= field_label %></div>
    <div class="panel-body clearfix">
        <%= form.input :reviewed_author,
            label: 'Reviewed Author' 
        %>
        <%= form.input :reviewed_editor,
            label: 'Reviewed Editor' 
        %>
        <%= form.input :reviewed_translator,
            label: 'Reviewed Translator' 
        %>
        <%= form.input :reviewed_title, 
            label: 'Reviewed Title' 
        %>

        <% if can? :manage, 'RecordLinking '%>
            <%= form.input :reviewed_title_record_ref, 
                label: 'Link to Referenced Title',
                # make sure that we pull the display_title field as the collection label
                label_method: Proc.new { |b| b.display_title if b.present? },
                collection: [Bibliography.find_by_id(form.object.reviewed_title_record_ref.to_s)], 
                hint: Bibliography::LINK_TO_BOOK_RECORD_HINT,
                input_html: {
                    class: class_name,
                    "data-url": citationterms_search_path
                }
            %>
        <% end %>
        
        <%= link_to_remove_association "<btn class='btn btn-danger btn-comment-remove'>Remove #{field_label}</btn>".html_safe, 
            form, 
            class: 'remove-link', 
            form_name: 'form' 
        %>
    </div>
</div>