<h1>Jesuit Bibliography</h1>

<% if current_user.admin_role? || current_user.editor_role? %>
<h2>Bibliography listings</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Reference Type</th>
      <th>Title</th>
      <th>Year Published</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bibs.each do |bib| %>
      <tr>
        <td><%= bib.reference_type %></td>
        <td><%= bib.title %></td>
        <td><%= bib.year_published %></td>
        <td><%= link_to 'Show', bibliography_path(bib) %></td>
        <td><%= link_to 'Edit', edit_bibliography_path(bib) %></td>
        <td><%= link_to 'Destroy', bibliography_path(bib),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<p><%= link_to 'Add New Bibliography', new_bibliography_path, class: 'btn btn-primary' %></p>
