<% if @bib.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Back', bibliography_path %>
<% else %>
    <h1>Here is Bibliography #<%= @bib.id %></h1>

    <div class="record-view">
        <label>Reference Type</label>
        <div class="field-value"><%= @bib.reference_type %></div>

        <label>Display Title</label>
        <div class="field-value"><%= @bib.display_title %></div>

        <label>Display Author</label>
        <div class="field-value"><%= @bib.display_author %></div>

        <label>Author</label>
        <ul>
        <% @bib.authors.each do |author| %>
            <li><%= author.display_name %></li>
        <% end %>
        </ul>

        <label>Editor</label>
        <ul>
        <% @bib.editors.each do |editor| %>
            <li><%= editor.display_name %></li>
        <% end %>
        </ul>

        <label>Book Editor</label>
        <ul>
        <% @bib.book_editors.each do |beditor| %>
            <li><%= beditor.display_name %></li>
        <% end %>
        </ul>

        <label>Author of Review</label>
        <ul>
        <% @bib.author_of_reviews.each do |aor| %>
            <li><%= aor.display_name %></li>
        <% end %>
        </ul>

        <label>Year Published</label>
        <div class="field-value"><%= @bib.year_published %></div>

        <label>Title</label>
        <div class="field-value"><%= @bib.title %></div>

        <label>Chapter Title</label>
        <div class="field-value"><%= @bib.chapter_title %></div>

        <label>Title of Review</label>
        <div class="field-value"><%= @bib.title_of_review %></div>

        <label>Secondary Title</label>
        <div class="field-value"><%= @bib.title_secondary %></div>

        <label>Book title</label>
        <div class="field-value"><%= @bib.book_title %></div>

        <label>Event Title</label>
        <div class="field-value"><%= @bib.event_title %></div>

        <label>Paper Title</label>
        <div class="field-value"><%= @bib.paper_title %></div>

        <label>Multimedia Series</label>
        <div class="field-value"><%= @bib.multimedia_series %></div>

        <label>Place Published</label>
        <div class="field-value"><%= @bib.place_published %></div>

        <label>Event Location</label>
        <div class="field-value"><%= @bib.event_location %></div>

        <label>Title of Journal</label>
        <div class="field-value"><%= @bib.journal_title %></div>

        <label>Publisher</label>
        <div class="field-value"><%= @bib.publisher %></div>

        <label>Event Institution</label>
        <div class="field-value"><%= @bib.event_institution %></div>

        <label>University</label>
        <div class="field-value"><%= @bib.dissertation_university %></div>

        <label>Volume</label>
        <div class="field-value"><%= @bib.volume %></div>

        <label>Number of Volumes</label>
        <div class="field-value"><%= @bib.number_of_volumes %></div>

        <label>Issue</label>
        <div class="field-value"><%= @bib.issue %></div>

        <label>Event Date</label>
        <div class="field-value"><%= @bib.event_date %></div>

        <label>Volumes Number</label>
        <div class="field-value"><%= @bib.volume_number %></div>

        <label>Number of pages</label>
        <div class="field-value"><%= @bib.number_of_pages %></div>

        <label>Page range</label>
        <div class="field-value"><%= @bib.page_range %></div>

        <label>Reviewed Author/Title</label>
        <ul>
        <% @bib.reviewed_components.each do |rc| %>
            <li>
                <div>Author: <span><%= rc.reviewed_author %></span></div>
                <div>Title: <span><%= rc.reviewed_title %></span></div>
            </li>
        <% end %>
        </ul>

        <label>Chapter number</label>
        <div class="field-value"><%= @bib.chapter_number %></div>

        <label>Event Panel Title</label>
        <div class="field-value"><%= @bib.event_panel_title %></div>

        <label>Reviewed Title</label>
        <div class="field-value"><%= @bib.reviewed_title %></div>

        <label>Edition</label>
        <div class="field-value"><%= @bib.edition %></div>

        <label>Epub Date</label>
        <div class="field-value"><%= @bib.epub_date %></div>

        <label>Date</label>
        <div class="field-value"><%= @bib.date %></div>

        <label>Multimedia Type</label>
        <div class="field-value"><%= @bib.multimedia_type %></div>

        <label>Thesis type</label>
        <div class="field-value"><%= @bib.dissertation_thesis_type %></div>

        <label>Translator</label>
        <ul>
        <% @bib.translators.each do |translator| %>
            <li><%= translator.display_name %></li>
        <% end %>
        </ul>

        <label>Performer</label>
        <ul>
        <% @bib.performers.each do |performer| %>
            <li><%= performer.display_name %></li>
        <% end %>
        </ul>
        
        <label>Reprint Edition</label>
        <div class="field-value"><%= @bib.reprint_edition %></div>

        <label>Worldcat URL</label>
        <div class="field-value"><%= @bib.worldcat_url %></div>

        <label>Publisher URL</label>
        <div class="field-value"><%= @bib.publisher_url %></div>

        <label>Multimedia URL</label>
        <div class="field-value"><%= @bib.multimedia_url %></div>

        <label>Event URL</label>
        <div class="field-value"><%= @bib.event_url %></div>

        <label>University URL</label>
        <div class="field-value"><%= @bib.dissertation_university_url %></div>

        <label>Leuven URL</label>
        <div class="field-value"><%= @bib.leuven_url %></div>

        <label>Multimedia Dimensions</label>
        <div class="field-value"><%= @bib.multimedia_dimensions %></div>

        <label>Abstract</label>
        <div class="field-value"><%= @bib.abstract %></div>

        <label>Translated Author</label>
        <ul>
        <% @bib.translated_authors.each do |ta| %>
            <li><%= ta.display_name %></li>
        <% end %>
        </ul>

        <label>Translated Title</label>
        <div class="field-value"><%= @bib.translated_title %></div>

        <label>Languages</label>
        <ul>
        <% @bib.languages.each do |lang| %>
            <li><%= lang.name %></li>
        <% end %>
        </ul>

        <label>ISBN</label>
        <ul>
        <% @bib.isbns.each do |isbn| %>
            <li><%= isbn.value %></li>
        <% end %>
        </ul>

        <label>ISSN</label>
        <ul>
        <% @bib.issns.each do |issn| %>
            <li><%= issn.value %></li>
        <% end %>
        </ul>

        <label>DOI</label>
        <ul>
        <% @bib.dois.each do |doi| %>
            <li><%= doi.value %></li>
        <% end %>
        </ul>
        
        <label>Subjects</label>
        <ul>
        <% @bib.subjects.each do |subject| %>
            <li><%= subject.name %></li>
        <% end %>
        </ul>

        <label>Periods</label>
        <ul>
        <% @bib.periods.each do |period| %>
            <li><%= period.name %></li>
        <% end %>
        </ul>

        <label>Locations</label>
        <ul>
        <% @bib.locations.each do |location| %>
            <li><%= location.name %></li>
        <% end %>
        </ul>

        <label>Entities</label>
        <ul>
        <% @bib.entities.each do |entity| %>
            <li><%= entity.display_name %></li>
        <% end %>
        </ul>

        <h4>Comments</h4>
        <ol>
        <% @bib.comments.each do |comment| %>
            <li>
            <div class="comment-section">
                <label>Comment:</label>
                <div class="field-value"><%= comment.body %></div>

                <label>Type:</label>
                <div class="field-value"><%= comment.comment_type %></div>

                <label>Commenter:</label>
                <div class="field-value"><%= comment.commenter %></div>

                <label>Make Public?:</label>
                <div class="field-value"><%= comment.make_public %></div>
            </div>
            </li>
        <% end %>
        </ol>

        <label>Created At</label>
        <div class="field-value"><%= @bib.created_at %></div>

        <label>Updated At</label>
        <div class="field-value"><%= @bib.updated_at %></div>
    </div>
    <%= link_to 'Edit', edit_bibliography_path(@bib) %> | <%= link_to 'Back', bibliographies_path %>
<% end %>