<div id="book_chapter_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

    <h3>Book chapter</h3>

    <% if @bib.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@bib.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @bib.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    
    <hr/>

    <% if current_user.admin_role? %>
        <%= render 'bibliographies/fields/make_published', :form => form %>
    <% end %>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Book Chapter" } 
    %>
    
    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>
    
    <%= form.input :chapter_title, 
        label: 'Chapter Title', 
        as: :string
    %>

    <%= render 'bibliographies/fields/book_editor', :form => form, field_label: 'Book Editor' %>

    <%= form.input :book_title, 
        label: 'Book title', 
        as: :string 
    %>

    <%= form.input :place_published, 
        label: 'Place published', 
        as: :string
    %>

    <%= form.input :publisher, 
        label: 'Publisher',
        as: :string
    %>

    <%= form.input :volume, 
        label: 'Volume',
        as: :string
    %>

    <%= form.input :number_of_volumes, 
        label: 'Number of Volumes',
        as: :string
    %>

    <%= form.input :page_range, 
        label: 'Page range',
        as: :string
    %>

    <%= form.input :chapter_number, 
        label: 'Chapter number', 
        as: :string
    %>

    <%= form.input :edition, 
        label: 'Edition',
        as: :string
    %>

    <%= render 'bibliographies/fields/translator', :form => form, field_label: 'Translator' %>

    <%= render 'bibliographies/fields/isbn', :form => form, field_label: 'ISBN' %>

    <%= render 'bibliographies/fields/doi', :form => form, field_label: 'DOI' %>

   <%= form.input :reprint_edition, 
        label: 'Reprint edition', 
        as: :string 
    %>

    <%= render 'bibliographies/fields/worldcat_url', :form => form, field_label: 'Worldcat URL' %>

    <%= render 'bibliographies/fields/publisher_url', :form => form, field_label: 'Publisher URL' %>

    <%= render 'bibliographies/fields/leuven_url', :form => form, field_label: 'Leuven URL' %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Period' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Entity' %>

    <%= form.input :abstract, 
        label: 'Abstract'
    %>

    <%= render 'bibliographies/fields/translated_author', :form => form, field_label: 'Translated Author' %>
    
    <%= form.input :translated_title, 
        label: 'Translated Title',
        as: :string
    %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <hr/>
    
    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
<% end %>
</div>