<div id="book_review_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

    <h3>Book Review</h3>

    <% if @bib.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@bib.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @bib.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>

    <hr/>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Book Review" } 
    %>

    <%= render 'bibliographies/fields/author_of_review', :form => form, field_label: 'Author or Review' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>

    <%= form.input :title_of_review, 
        label: 'Title of Review', 
        as: :string
    %>

    <%= form.input :journal_title,
        label: 'Journal title', 
        as: :string
    %>

    <%= form.input :volume, 
        label: 'Volume',
        as: :string
    %>

    <%= form.input :issue, 
        label: 'Issue',
        as: :string
    %>

    <%= form.input :page_range, 
        label: 'Page range',
        as: :string 
    %>

    <%= render 'bibliographies/fields/reviewed_components', :form => form, field_label: 'Reviewed Author/Title' %>

    <%= form.input :epub_date, 
        label: 'Epub date',
        as: :string
    %>

    <%= form.input :date,
        label: 'Date', 
        as: :string
    %>

    <%= render 'bibliographies/fields/isbn', :form => form, field_label: 'ISBN' %>

    <%= render 'bibliographies/fields/doi', :form => form, field_label: 'DOI' %>

    <%= form.input :worldcat_url, 
        label: 'Worldcat URL',
        as: :string
    %>

    <%= form.input :publisher_url, 
        label: 'Publisher URL',
        as: :string
    %>

    <%= form.input :leuven_url, 
        label: 'Leuven URL',
        as: :string
    %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Period' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Entity' %>

    <%= form.input :abstract, 
        label: 'Abstract'
    %>

    <%= render 'bibliographies/fields/translated_author', :form => form, field_label: 'Translated Author' %>

    <%= form.input :translated_title, 
        label: 'Translated Title',
        as: :string
    %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment' %>

    <hr/>
    
    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
<% end %>
</div>