<div id="conference_paper_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true do |form| %>

    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>

    <hr/>

    <%# includes created_by, created_at, status #%>
    <%= render 'bibliographies/fields/common_fields', :form => form %>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Conference Paper" } 
    %>
    
    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>

    <%= form.input :paper_title, 
        label: 'Paper Title', 
        as: :string,
        required: true,
        validate: true
    %>

    <%= render 'bibliographies/fields/display_title', :form => form, field_label: 'Display Title' %>

    <%= form.input :event_title, 
        label: 'Event title', 
        as: :string
    %>

    <%= form.input :event_location, 
        label: 'Event location', 
        as: :string
    %>
    
    <%= form.input :event_institution, 
        label: 'Event Institution',
        as: :string,
        hint: Bibliography::EVENT_INSTITUTION_HINT
    %>

    <%= form.input :event_date, 
        label: 'Event date',
        as: :string
    %>

    <%= form.input :event_panel_title, 
        label: 'Panel title',
        as: :string
    %>

    <%= render 'bibliographies/fields/event_url', :form => form, field_label: 'Event URL' %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Century' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Jesuit' %>

    <%= render 'bibliographies/abstract_field', :form => form %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <% if can? :update, Tag %>
        <%= render 'bibliographies/fields/tag', :form => form, field_label: 'Tags'%>
    <% end %>

    <hr/>
    
    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>
<% end %>
</div>