<div id="dissertation_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true do |form| %>

    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>

    <hr/>

    <%# includes created_by, created_at, status #%>
    <%= render 'bibliographies/fields/common_fields', :form => form %>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Dissertation" } 
    %>

    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author', required_status: true %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string,
        required: true,
        validate: true
    %>

    <%= form.input :title, 
        label: 'Title', 
        as: :string,
        required: true,
        validate: true
    %>

    <%= render 'bibliographies/fields/display_title', :form => form, field_label: 'Display Title' %>

    <%= render 'bibliographies/fields/publish_place', :form => form, field_label: 'Place Published', required_status: true %>

    <%= render 'bibliographies/fields/dissertation_university', :form => form, field_label: 'University', required_status: true %>

    <%= form.input :number_of_pages, 
        label: 'Number of pages',
        as: :string 
    %>

    <%= form.input :dissertation_thesis_type, 
        label: 'Thesis type',
        as: :string
    %>
    
    <%= render 'bibliographies/fields/isbn', :form => form, field_label: 'ISBN' %>

    <%= render 'bibliographies/fields/worldcat_url', :form => form, field_label: 'Worldcat URL' %>

    <%= render 'bibliographies/fields/dissertation_university_url', :form => form, field_label: 'University URL' %>

    <%= render 'bibliographies/fields/leuven_url', :form => form, field_label: 'Other links' %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'What (Subjects)', short_field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'When (Centuries)', short_field_label: 'Century' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Where (Locations)', short_field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Who (Jesuits)', short_field_label: 'Jesuit' %>

    <%= render 'bibliographies/abstract_field', :form => form %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language', required_status: true %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <% if can? :update, Tag %>
        <%= render 'bibliographies/fields/tag', :form => form, field_label: 'Tags' %>
    <% end %>

    <hr/>
    
    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>
<% end %>
</div>