<div id="dissertation_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

    <h3>Dissertation</h3>

    <% if @bib.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@bib.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @bib.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>

    <hr/>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Dissertation" } 
    %>

    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>

    <%= form.input :title, 
        label: 'Title', 
        as: :string
    %>

    <%= form.input :place_published, 
        label: 'Place published', 
        as: :string 
    %>

    <%= form.input :dissertation_university, 
        label: 'University',
        as: :string
    %>

    <%= form.input :number_of_pages, 
        label: 'Number of pages',
        as: :string 
    %>

    <%= form.input :dissertation_thesis_type, 
        label: 'Thesis type',
        as: :string
    %>
    
    <%= render 'bibliographies/fields/isbn', :form => form, field_label: 'ISBN' %>

    <%= form.input :worldcat_url, 
        label: 'Worldcat URL',
        as: :string, 
        hint: 'URL must start with http:// or https://'
    %>

    <%= form.input :dissertation_university_url, 
        label: 'University URL',
        as: :string, 
        hint: 'URL must start with http:// or https://'
    %>

    <%= form.input :leuven_url, 
        label: 'Leuven URL',
        as: :string, 
        hint: 'URL must start with http:// or https://'
    %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Period' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Entity' %>

    <%= form.input :abstract, 
        label: 'Abstract'
    %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <hr/>
    
    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
<% end %>
</div>