<div id="journal_article_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job, validate: true do |form| %>

    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>

    <hr/>

    <%# includes created_by, created_at, status #%>
    <%= render 'bibliographies/fields/common_fields', :form => form %>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Journal Article" } 
    %>

    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>

    <%= form.input :title, 
        label: 'Title', 
        as: :string,
        required: true,
        validate: true
    %>

    <%#= form.input :journal_title, 
        label: 'Title of Journal', 
        as: :string
    %>

    <%= render 'bibliographies/fields/journal', :form => form, field_label: 'Journal Title' %>
    
    <%= form.input :volume, 
        label: 'Volume',
        as: :string
    %>

    <%= form.input :issue, 
        label: 'Issue',
        as: :string
    %>

    <%= form.input :page_range, 
        label: 'Page range',
        as: :string
    %>

    <%= form.input :epub_date, 
        label: 'Epub date',
        as: :string
    %>

    <%= form.input :date,
        label: 'Date', 
        as: :string
    %>

    <%= render 'bibliographies/fields/issn', :form => form, field_label: 'ISSN' %>

    <%= render 'bibliographies/fields/doi', :form => form, field_label: 'DOI' %>

    <%= render 'bibliographies/fields/worldcat_url', :form => form, field_label: 'Worldcat URL' %>

    <%= render 'bibliographies/fields/publisher_url', :form => form, field_label: 'Publisher URL' %>

    <%= render 'bibliographies/fields/leuven_url', :form => form, field_label: 'Other links' %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Century' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Jesuit' %>

    <%= render 'bibliographies/abstract_field', :form => form %>

    <%= render 'bibliographies/fields/translated_author', :form => form, field_label: 'Translated Author' %>

    <%= form.input :translated_title, 
        label: 'Translated Title',
        as: :string
    %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <% if can? :update, Tag %>
        <%= render 'bibliographies/fields/tag', :form => form, field_label: 'Tags' %>
    <% end %>

    <hr/>
    
    <div class="button-group">
        <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
        <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
    </div>
<% end %>
</div>