<div id="multimedia_form" class="bib_form">
<%= simple_form_for @bib do |form| %>

    <h3>Multimedia</h3>

    <% if @bib.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@bib.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @bib.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.input :reference_type, :as => :hidden, :input_html => { :value => "Multimedia" }  %>

    <h4>Author</h4>
    <div id='bibliography_author'>
        <%= form.simple_fields_for :authors do |c| %>
        <%= c.input :display_name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Author', form, :authors, association: 'authors', class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_author', 'association-insertion-method' => 'append'}, partial: 'bibliography_citation_fields' %>
    </div>
    
    <%= form.input :year_published, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :title, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :title_secondary, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :place_published, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :publisher, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :type_of_work, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <h4>Performer</h4>
    <div id='bibliography_performer'>
        <%= form.simple_fields_for :performers do |c| %>
        <%= c.input :display_name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Performer', form, :performers, association: 'performers', class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_performer', 'association-insertion-method' => 'append'}, partial: 'bibliography_citation_fields' %>
    </div>

    <h4>ISBN</h4>
    <div id='bibliography_isbn'>
        <%= form.simple_fields_for :isbns do |c| %>
        <%= c.input :value, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add ISBN', form, :isbns, association: 'isbns', class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_isbn', 'association-insertion-method' => 'append'}, partial: 'bibliography_standard_identifier_fields' %>
    </div>

    <%= form.input :worldcat_url, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :secondary_url, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :multimedia_dimensions, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <h4>Subjects</h4>
    <div id='bibliography_subjects'>
        <%= form.simple_fields_for :bibliography_subjects do |subject| %>
        <%= render 'bibliography_subject_fields', :form => subject %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Subject', form, :bibliography_subjects, class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_subjects', 'association-insertion-method' => 'append'} %>
    </div>

    <h4>Periods</h4>
    <div id='bibliography_periods'>
        <%= form.simple_fields_for :bibliography_periods do |period| %>
        <%= render 'bibliography_period_fields', :form => period %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Period', form, :bibliography_periods, class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_periods', 'association-insertion-method' => 'append'} %>
    </div>

    <h4>Locations</h4>
    <div id='bibliography_locations'>
        <%= form.simple_fields_for :bibliography_locations do |location| %>
        <%= render 'bibliography_location_fields', :form => location %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Location', form, :bibliography_locations, class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_locations', 'association-insertion-method' => 'append'} %>
    </div>

    <h4>Entities</h4>
    <div id='bibliography_entities'>
        <%= form.simple_fields_for :bibliography_entities do |entity| %>
        <%= render 'bibliography_entity_fields', :form => entity %>
        <% end %>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Entity', form, :bibliography_entities, class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_entities', 'association-insertion-method' => 'append'} %>
    </div>

    <%= form.input :abstract, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <%= form.input :language, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

    <h4>Comments</h4>
    <div id="bibliography_comments">
        <ol id="bibliography_comments_ol">
        <%= form.simple_fields_for :comments do |comment| %>
        <%= render 'comment_fields', :form => comment %></li>
        <% end %>
        </ol>
    </div>
    <div class='links'>
        <%= link_to_add_association 'Add Comment', form, :comments, class: 'btn btn-warning', form_name: 'form', data: {'association-insertion-node' => '#multimedia_form #bibliography_comments_ol', 'association-insertion-method' => 'append'} %>
    </div>

    <br/>
    <%= form.button :submit, "Save Bibliography", class: "btn btn-primary" %>
<% end %>
</div>