<div id="multimedia_form" class="bib_form">
<%= simple_form_for @bib, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job do |form| %>

    <h3>Multimedia</h3>

    <% if @bib.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@bib.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @bib.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>

    <hr/>

    <% if current_user.admin_role? %>
        <%= render 'bibliographies/fields/make_published', :form => form %>
    <% end %>

    <%= form.input :reference_type, 
        :as => :hidden, 
        :input_html => { :value => "Multimedia" } 
    %>
    
    <%= render 'bibliographies/fields/author', :form => form, field_label: 'Author' %>
    
    <%= form.input :year_published, 
        label: 'Year', 
        as: :string
    %>

    <%= form.input :title, 
        label: 'Title', 
        as: :string
    %>

    <%= form.input :multimedia_series, 
        label: 'Series', 
        as: :string
    %>

    <%= form.input :place_published, 
        label: 'Place published', 
        as: :string
    %>

    <%= form.input :publisher, 
        label: 'Publisher',
        as: :string
    %>

    <%= form.input :multimedia_type, 
        label: 'Type of media',
        as: :string
    %>

    <%= render 'bibliographies/fields/performer', :form => form, field_label: 'Performer' %>

    <%= render 'bibliographies/fields/isbn', :form => form, field_label: 'ISBN' %>

    <%= render 'bibliographies/fields/worldcat_url', :form => form, field_label: 'Worldcat URL' %>

    <%= render 'bibliographies/fields/multimedia_url', :form => form, field_label: 'Multimedia URL' %>

    <%= form.input :multimedia_dimensions, 
        label: 'Multimedia dimensions',
        as: :string
    %>

    <%= render 'bibliographies/fields/subject', :form => form, field_label: 'Subject' %>

    <%= render 'bibliographies/fields/period', :form => form, field_label: 'Century' %>

    <%= render 'bibliographies/fields/location', :form => form, field_label: 'Location' %>

    <%= render 'bibliographies/fields/entity', :form => form, field_label: 'Jesuit' %>

    <%= render 'bibliographies/abstract_field', :form => form %>

    <%= render 'bibliographies/fields/language', :form => form, field_label: 'Language' %>

    <%= render 'bibliographies/fields/comment', :form => form, field_label: 'Comment', c: @bib.comments %>

    <hr/>
    
    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Cancel', bibliography_path, class: "btn btn-info" %>
<% end %>
</div>