<div class="navbar col-sm-12 center-col">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><%= link_to 'Institutional Partners', about_page_path(:partners) %></li>
          <li><%= link_to 'Correspondent Network', about_page_path(:network) %></li>
          <li><%= link_to 'Add Your Records', user_session_path %></li>
          <li><%= link_to 'Learn More', about_home_page_path %></li>
          <li><%= link_to 'Development Team', about_page_path(:team) %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><%= link_to 'What (Subjects)', terms_subjects_path %></li>
          <li><%= link_to 'When (Centuries)', terms_periods_path %></li>
          <li><%= link_to 'Where (Locations)', terms_locations_path %></li>
          <li><%= link_to 'Who (Jesuits)', terms_entities_path %></li>
      </ul>
    </li>
    <li class="nav-item"><%= link_to 'Contact Us', about_page_path(:contact) %></li>

    <% if can? :read, 'Dashboard' %>
    <li>
      <%= link_to 'Dashboard', dashboard_path %>
    </li>
    <% end %>
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>

    <% if has_user_authentication_provider? %>
      <% if current_user %>
      <li>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
      </li>
      <% unless current_user.to_s.blank? -%>
      <li>
        <%= link_to current_user, edit_user_registration_path %>
      </li>
      <% end %>
      <% else %>
      <li>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      </li>
      <% end %>
  <% end %>

  </ul>
</div>
