<h1>Jesuit Bibliography</h1>

<% if current_user.admin_role? || current_user.editor_role? %>
<h2>Locations listings</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Location name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Show', location_path(location) %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location_path(location),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<p><%= link_to 'Add New Location', new_location_path, class: 'btn btn-primary' %></p>
