<!DOCTYPE html>
<html>
  <head>
    <title>Jesuit Bibliography Staff</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="bibliography">
    <%= render :partial => 'shared/bc_header' %>

    <%= render :partial => 'shared/bibliography_navbar' %>

    <main role="main" class="container">
      <div class="starter-template">
      <%= yield %>
      </div>
    </main>

    <%= render :partial => 'shared/footer' %>
  </body>
</html>