<%= simple_form_for @subject, url: urlpath do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
  </div>

  <hr/>

  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@subject.errors.count, "error") %> prohibited
        this subject from being saved:
      </h4>
      <ul>
        <% @subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.input :name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <%= form.input :sort_name, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
  </div>
<% end %>