<%= simple_form_for @subject, url: urlpath, html: { class: "form-horizontal"}, wrapper: :horizontal_form_job  do |form| %>

  <div class="button-group">
    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
  </div>

  <hr/>

  <% if @subject.errors.any? %>
  <div class="panel panel-danger" id="error_explanation">
    <div class="panel-heading"><%= pluralize(@subject.errors.count, "error") %> prohibited this subject record from being saved:</div>
    <div class="panel-body">
      <ul>
        <% @subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= form.input :name, 
      as: :string
  %>

  <%= form.input :sort_name, 
      as: :string,
      disabled: !@subject.name.present?,
      placeholder: (!@subject.name.present? ? BibliographySubject::NAME_PLACEHOLDER : '') 
  %>

  <hr/>
  
  <div class="button-group">
    <%= form.button :submit, "Save Record", class: "btn btn-primary" %>
    <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
  </div>
<% end %>