<% if @subject.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Subject Records index', citationterms_subjects_path %>
<% elsif can? :read, Subject %>
    <h2><%= @subject.name.present? ? @subject.name : @subject.id %></h2>

    <div class="record-view">
        <div class="button-group">
            <% if can? :update, Subject %>
            <%= link_to 'Edit this record', edit_citationterms_subject_path(@subject), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
        </div>

        <div class="record-view-fields">
            <div class="subjects-list col-sm-12">
                <h4>Fields</h4>

                <div class="field-pair row">
                    <label class="col-sm-2">Subject name</label>
                    <div class="field-value col-sm-10"><%= @subject.name %></div>
                </div>

                <div class="field-pair row">
                    <label class="col-sm-2">Subject Sort Name</label>
                    <div class="field-value col-sm-10"><%= @subject.sort_name %></div>
                </div>
            </div>

            <%= render 'citationterms/metadata', record: @subject %>
        </div>

        <div class="button-group">
            <% if can? :update, Subject %>
            <%= link_to 'Edit this record', edit_citationterms_subject_path(@subject), class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'Go Back to Subject terms index', citationterms_subjects_path, class: 'btn btn-info' %>
        </div>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>